<div id="profile">
    <form #editForm=ngForm (ngSubmit)="onSubmit()">
        <label>Nom*</label>
        <input type="text" name="name" id="name" [(ngModel)]="form.name" required>
        <label>Email*</label>
        <input type="email" name="email" id="email" [(ngModel)]="form.email" required>
        <label>Mot de passe actuel*</label>
        <input type="password" name="password" id="password" [(ngModel)]="form.password" required>
        <label>Nouveau mot de passe (laisser vide pour garder le même)</label>
        <input type="password" name="new_password" id="new_password" [(ngModel)]="form.new_password" required>
        <label>Nouveau mot de passe (laisser vide pour garder le même)</label>
        <input type="password" name="password_confirm" id="password_confirm" [(ngModel)]="form.password_confirmation" required>
        <button type="submit">Submit</button>
      </form>
</div>

