.connecter{
    order: 2;
    margin-left: 65%;  
    margin-top: 1em;
    color: white;
    font-size: 2em; 
    
}

.imgnav{
    order: 1;
    height: 7em;
    width: 22em;


}
nav{
    display: flex;
    height: 6em;
    background: rgba(83, 83, 83, 0.432);
}
header{
    background-image: url(" ../../assets/img/stefan-stefancik-257625.jpg") !important;
    background-repeat: no-repeat;
    background: size auto;
    height: 30em;
}