.connecter{
    margin-left: 70%;  
    margin-top: 1em;
    color: white;
    font-size: 2em; 
    position: fixed;
    
}

.imgnav{
    height: 7em;
    width: 22em;


}
nav{
    height: 6em;
    background: rgba(83, 83, 83, 0.432);
}