@import "../../styles.scss";

.logo-nav {
    height: 5em;
}

nav {
    height: 5em;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(83, 83, 83, 0.432);
    display: flex;
    font-weight: bold;      
    color: white;
}

    a.connexion {
        font-size: 1.4em; 
        position: fixed;
        margin-left: 80%;  
        margin-top: 1em;       
    }

    a.profile {
        margin-left: 50%;
        color: white;
        text-decoration: none;
        font-size: 1.3em; 
        position: fixed;
        margin-top: 1em;    
    }



@media screen and (max-width: 1300px) {
    nav {
        height: 5em;
        position: fixed;
        top: 0;
        width: 100%;
        background: rgba(83, 83, 83, 0.432);
        display: flex;
    }

    .logo-nav {
        height: 5em;
    }
    a.connexion {
        margin-left: 79%;  
        margin-top: 1em;
        font-size: 1.1em; 
        position: fixed;;
        font-weight: bold;      
        color: white;
    }
}

@media screen and (max-width: 900px){
    nav {
        height: 5em;
        position: fixed;
        top: 0;
        width: 100%;
        background: rgba(83, 83, 83, 0.432);
        display: flex;
    }

    .logo-nav {
   
        height: 4em;
    }
    a.connexion {
        margin-left: 77%;          
        font-size: 0.9em ; 
        position: fixed;;
        font-weight: bold;      
        color: white;
    }
}
@media screen and (max-width: 630px){
    nav {
        height: 4em;
        position: fixed;
        top: 0;
        width: 100%;
        background: rgba(83, 83, 83, 0.432);
        display: flex;
    }

    .logo-nav {
   
        height: 3em;
    }
    a.connexion {
        margin-left: 76%;  
        font-size: 0.8em; 
        position: fixed;;
        font-weight: bold;      
        color: white;
    }
}

@media screen and (max-width: 400px){
    nav {
        height: 3.5em;
        position: fixed;
        top: 0;
        width: 100%;
        background: rgba(83, 83, 83, 0.432);
        display: flex;
    }

    .logo-nav {
        height: 2em;
    }
    a.connexion {
        margin-left: 80%;  
        margin-top: 1em;
        font-size: 0.6em; 
        position: fixed;;
        font-weight: bold;      
        color: white;
    }
}
