@import "../../styles.scss";

#social-container {
    display: flex;
    justify-content: center;
    padding-top: 5em;   
    padding-left: 5em;
 
}
footer {
    height: 15em;
    background-color: #ededed;
    font-family: $font-style-title;

    p {
        font-size: 1.2em;
    }
}

.center {
    text-align: center;
}

.social-logo {
    padding-right: 4em;

    img {
        height: 5em;
    }

}
@media screen and (max-width: 1600px){
    img {
        height: 4.5em !important;
    }
    p {
        font-size: 1.1em !important;
    }
}
@media screen and (max-width: 1300px){
    img {
        height: 4em !important;
    }
    p {
        font-size: 0.9em !important;
    }
}
@media screen and (max-width: 900px){
    img {
        height: 3.5em !important;
    }
    p {
        font-size: 0.8em !important;
    }
}
@media screen and (max-width: 660px){
    img {
        height: 3em !important;
    }
    p {
        font-size: 0.6em !important;
    }
}

