@import "../../styles.scss";

#social-container {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 1em;
    
}
footer {
    background-color: #ededed;
    font-family: $font-style-title;
}

.center {
    text-align: center;
}

.social-logo {
    padding-left: 2em;
    img {
        height: 3em;
    }

}