<footer>
    <div id="social-container">
        <div class="social-logo">
          <img src="../../assets/icons/linkedin.png" alt="logo de Linkedin">
        </div>
        <div class="social-logo">
          <img src="../../assets/icons/twitter.png" alt="logo de Twitter">
        </div>
        <div class="social-logo">
            <img src="../../assets/icons/facebook.png" alt="logo de Facebook">          
        </div>
        <div class="social-logo">
            <img src="../../assets/icons/instagram.png" alt="logo de Instagram">         
        </div>
      </div>
<p  class="center">Teletech'3000 &copy; 2017</p>
</footer>
