@import "../../styles.scss";

p {
 background-color: rgba(240, 18, 18, 0.384);
 color: black;
}

form {
    position: fixed;
    top: 5em;
    background-color: rgba(242, 242, 242, 0.9);
    width: 20%;
    padding: 0.5em;
    margin-left: 78%;
}
input[type=text],input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=submit] {
    background-color: #ffa100;
    color: white;
    padding: 0.3em 0.5em;
    margin: 0.5em 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    box-shadow: 1px 1px 1px grey;
}

input[type=submit]:hover {
    background-color: #ffa200d5;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
}



@media screen and (max-width: 1300px){
    label{ 
        font-size: 0.9em ;
    }
    h3{
        font-size: 0.9em ;    
    }
    input[type=submit] {
        padding: 0.2em 0.4em;
        margin: 0.4em 0;
        border-radius: 5px;
        font-size: 1em;
    }
    input[type=text],input[type=password] {
        width: 100%;
        padding: 8px 16px;
        margin: 6px 0;
        border-radius: 4px;
    }
    

}

@media screen and (max-width: 900px){
    label{ 
        font-size: 0.6em ;
    }
    h3{
        font-size: 0.6em ;    
    }
    input[type=submit] {
        padding: 0.1em 0.3em;
        margin: 0.3em 0;
        border-radius: 5px;
        font-size: 0.9em;
    }
    input[type=text],input[type=password] {
        width: 100%;
        padding: 4px 10px;
        margin: 3px 0;
        border-radius: 4px;
    }   
    form {
        top: 5em;
        width: 20%;
        padding: 0.5em;
        margin-left: 75%;
    }

}

@media screen and (max-width: 660px){

    label{ 
        font-size: 0.4em ;
    }
    h3{
        font-size: 0.4em ;    
    }
    input[type=submit] {
        padding: 0.05em 0.2em;
        margin: 0.2em 0;
        border-radius: 5px;
        font-size: 0.6em;
    }
    input[type=text],input[type=password] {
        width: 100%;
        padding: 2px 8px;
        margin: 2px 0;
        border-radius: 4px;
    }   
    form {
        top: 5em;
        width: 20%;
        padding: 0.5em;
        margin-left: 75%;
    }
}


