
<section id="photo">

</section>
<section id="activites">
  <p class="center" id="contact-text">Ce que nous <b>faisons</b></p>
  <div id="conteneur">
    <div class="center">
      <img id="img-icon" src="../../assets/img/icon-ecrou.png" alt="">
      <h3>Transformation Opérationnelle</h3>
      <p>orem ipsum dolor <b>amet</b>, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
        ut labore et dolore magna aliqua. Ut enim ad <b>minim veniam</b>, quis nostrud exercitation ullamco.</p>
      <button>Plus de détails</button>
    </div>
    <div class="center">
        <img id="img-icon" src="../../assets/img/icon-sac.png" alt="">
        <h3>Conseil</h3>
        <p>orem ipsum dolor <b>amet</b>, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
          ut labore et dolore magna aliqua. Ut enim ad <b>minim veniam</b>, quis nostrud exercitation ullamco.</p>
    </div>
    <div class="center">
        <img id="img-icon" src="../../assets/img/icon-eclair.png" alt="">
        <h3>Service</h3>
        <p>orem ipsum dolor <b>amet</b>, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
          ut labore et dolore magna aliqua. Ut enim ad <b>minim veniam</b>, quis nostrud exercitation ullamco.</p>
        <button>Faire un devis</button>
    </div>
  </div>
  <div id="conteneur">
    <div class="center">
        <img id="img-icon" src="../../assets/img/icon-ecrou.png" alt="">
        <h3>Digital factory</h3>
        <p>orem ipsum dolor <b>amet</b>, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
          ut labore et dolore magna aliqua. Ut enim ad <b>minim veniam</b>, quis nostrud exercitation ullamco.</p>
        <button>Site Digital Factory</button>
    </div>
    <div class="center">
        <img id="img-icon" src="../../assets/img/icon-sac.png" alt="">
        <h3>Audit flash</h3>
        <p>orem ipsum dolor <b>amet</b>, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
          ut labore et dolore magna aliqua. Ut enim ad <b>minim veniam</b>, quis nostrud exercitation ullamco.</p>
        <button>Plus de détails</button>
    </div>
    <div class="center">
        <img id="img-icon" src="../../assets/img/icon-eclair.png" alt="">
        <h3>Service</h3>
        <p>orem ipsum dolor <b>amet</b>, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
          ut labore et dolore magna aliqua. Ut enim ad <b>minim veniam</b>, quis nostrud exercitation ullamco.</p>
    </div>
  </div>
</section>
<section id="chiffres-cles">

</section>

<section id="contact">
  <p class="center" id="contact-text">Contactez-<b>nous</b> !</p>
  <div id="conteneur">
    <div class="element">
      <h3 class="center">Aix</h3>
      <p>8 rue de la poupée qui tousse</p>
      <p>1300 Aix-en-provence</p>
      <br>
      <span class="center">+33 7 22 30 43 70</span>
    </div>
    <div class="element">
      <h3 class="center">Aix</h3>
      <p>8 rue de la poupée qui tousse</p>
      <p>1300 Aix-en-provence</p>
      <br>
      <span class="center">+33 7 22 30 43 70</span>
    </div>
    <div class="element">
      <h3 class="center">Aix</h3>
      <p>8 rue de la poupée qui tousse</p>
      <p>1300 Aix-en-provence</p>
      <br>
      <span class="center">+33 7 22 30 43 70</span>
    </div>
  </div>
</section>
