#conteneur, .chiffres {
    display: flex;
    justify-content: space-around;
}

.center {
    text-align: center;
}

#contact-text {
    font-size: 20px;
}

#img-icon {
    height: 60px;
}

#chiffres-cles {
    background-image: url("../../assets/img/bureau2.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    height: 400px;
    z-index: 0;
}

.chiffres {
    padding-top: 10px;
    background-color: white;
    opacity: 0.5;
    filter: blur(0.1em);
    z-index: 999;
}
