<section id="presentation">
  <article class="transform">  
    <h1 class="center"><div class="bold">Transformation&nbsp;</div>opérationnelle</h1>
    <p class="center">Lorem ipsum dolor sit amet, consectetur <br>adipiscing elit, sed
      <b>do eiusmod</b> tempor
    </p>
  </article>
</section>


<section id="activites">
  <p class="title-text">Ce que nous <b>faisons</b></p>
  <div class="container">
    <div class="center">
      <img id="img-icon" src="../../assets/icons/icon-ecrou.png" alt="">
      <h3>Transformation Opérationnelle</h3>
      <p>Lorem ipsum dolor <b>sit amet</b>, consectetur adipiscing elit, sed 
        do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
      </p>
      <button class="btn blue">Plus de détails</button>
    </div>
    <div class="center">
      <img id="img-icon" src="../../assets/icons/icon-sac.png" alt="">
      <h3>Conseil</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
        do eiusmod <b>tempor incididunt</b> ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
      </p>
    </div>
    <div class="center">
      <img id="img-icon" src="../../assets/icons/icon-eclair.png" alt="">
      <h3>Service</h3>
      <p>Lorem ipsum dolor sit amet, <b>consectetur</b> adipiscing elit, sed
        do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
      </p>
      <button class="btn red">Faire un devis</button>
    </div>
  </div>
  <div class="container">
    <div class="center">
      <img id="img-icon" src="../../assets/icons/icon-ecrou.png" alt="">
      <h3>Digital factory</h3>
      <p>Lorem ipsum dolor <b>sit amet</b>, consectetur adipiscing elit, sed 
        do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad <b>minim veniam</b>, quis nostrud exercitation ullamco laboris nisi.
      </p>
      <button class="btn blue">Site Digital Factory</button>
    </div>
    <div class="center">
      <img id="img-icon" src="../../assets/icons/icon-sac.png" alt="">
      <h3>Audit flash</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
        do eiusmod <b>tempor incididunt</b> ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
      </p>
      <button class="btn yellow">Plus de détails</button>
    </div>
    <div class="center">
      <img id="img-icon" src="../../assets/icons/icon-eclair.png" alt="">
      <h3>Service</h3>
      <p>Lorem ipsum dolor sit amet, <b>consectetur</b> adipiscing elit, sed
        do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
      </p>
    </div>
  </div>
</section>

<section id="chiffres-cles">
  <article class="chiffre-2018 center">  
    <h1>Les&nbsp;<div class="bold">chiffres en 2018</div></h1>
    <div class="chiffres">
      <div class="container-chiffre-2018">  
        <div class="hexagon">
          <img src="../../assets/icons/hexagon-red.png" alt=""> 
          <span>&nbsp;3</span>
        </div>
        <div class="titre-chiffre">
          <p>Cabinets</p>
        </div>
      </div>
      <div class="container-chiffre-2018">
        <div class="hexagon">
          <img src="../../assets/icons/hexagon-yellow.png" alt="">
          <span>86</span>
        </div>
        <div class="titre-chiffre">
          <p>Consultants</p>
        </div>
      </div>
      <div class="container-chiffre-2018">
        <div class="hexagon">
          <img class="hexagon" src="../../assets/icons/hexagon-blue.png" alt="">
          <span>36</span>
          <p id="euro">m€</p>
        </div>
        <div class="titre-chiffre-3">
          <p>Chiffre d'affaire</p>
        </div>
      </div>
    </div>
  </article>
</section>

<section id="contact">
  <p class="title-text">Contactez-<b>nous</b> !</p>
  <div class="container">
    <div class="center">
      <h3>{{cities[0].name}}</h3>
      <p>{{cities[0].street}} <br>
        {{cities[0].city}}
      </p>
      <br>
      <span>{{cities[0].phone}}</span>
    </div>
    <div class="center">
      <h3>{{cities[1].name}}</h3>
      <p>{{cities[1].street}} <br>
        {{cities[1].city}}
      </p>
      <br>
      <span>{{cities[1].phone}}</span>
    </div>
    <div class="center">
      <h3>{{cities[2].name}}</h3>
      <p>{{cities[2].street}} <br>
        {{cities[2].city}}
      </p>
      <br>
      <span>{{cities[2].phone}}</span>
    </div>
  </div>
</section>
