<section id="photo">

</section>
<section id="activites">

</section>
<section id="chiffres-cles">
  <div class="chiffres">
    <div id="cabinets">
      <h3>Cabinets</h3>
    </div>
    <div id="consultants">
      <h3>Consultants</h3>
    </div>
    <div>
      
    </div>    
    <div id="ca">
      <h3>Chiffre d'affaire</h3>
    </div>
  </div>
</section>

<section id="contact">
  <p class="center" id="contact-text">Contactez-<b>nous</b> !</p>
  <div id="conteneur">
    <div class="element">
      <h3 class="center">Aix</h3>
      <p>8 rue de la poupée qui tousse</p>
      <p>1300 Aix-en-provence</p>
      <br>
      <span class="center">+33 7 22 30 43 70</span>
    </div>
    <div class="element">
      <h3 class="center">Aix</h3>
      <p>8 rue de la poupée qui tousse</p>
      <p>1300 Aix-en-provence</p>
      <br>
      <span class="center">+33 7 22 30 43 70</span>
    </div>
    <div class="element">
      <h3 class="center">Aix</h3>
      <p>8 rue de la poupée qui tousse</p>
      <p>1300 Aix-en-provence</p>
      <br>
      <span class="center">+33 7 22 30 43 70</span>
    </div>
  </div>
</section>
