@import "../../styles.scss";

/* Style global au composant */

.container, .chiffres {
    display: flex;
    justify-content: space-around;
}

.center {
    text-align: center;
    line-height: 120%;
    margin-left: 3%; 
    margin-right: 3%; 
}

.title-text {
   
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 2em;
}

/* Style de la section présentation */

#presentation {
    background-image: url("../../assets/img/photo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    height: 60em;
}

.transform {
    margin-top: 17%;
    margin-left: 15%;
    background: rgba(255, 255, 255, 0.603);
    width: 70%;
    display: inline-block;

    h1 {
        font-size: 3.9em;
        font-weight: 400;
        display: inline-flex;
        padding-left: 10%;

        .bold {
            font-weight: 700;
        }
    }

    p {
        padding-bottom: 10%;
        padding-top: 3%;
        margin-top: -1%;
        font-size: 2em;
    }
}

/* Style de la section activités */

#activites {
    width: 80%;
    flex: 1;
    margin-left: 10%;
    margin-right: 10%; 

    .container {
        padding-bottom: 7%;
    }

    p {
        text-align: center;
        word-spacing: normal;
        letter-spacing: 0.03em;
    }

    #img-icon {
        height: 60px;
    }   
}

.btn {
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 1px grey;
    width: 40%;
    padding: 0.3em 0;
    color: white;
    font-size: 1.1em;
}

.red {
    background-color: #ed3d4a;
}

.yellow {
    background-color: #ffa100;
}

.blue {
    background-color: #004464;
}

/* Style de la section chiffres-clé */

#chiffres-cles {
    background-image: url("../../assets/img/bureau.jpg");
    background-repeat: no-repeat;
    background-size: 100%; 
    height: 35em;
    z-index: 0;
}

.chiffre-2018 {
    margin-top: 4%;
    margin-left: 6%;
    background: rgba(255, 255, 255, 0.603);
    width: 85%;
    display: inline-block;
    padding-left: 5em;

    h1 {
        font-size: 2em;
        font-weight: 400;
        display: inline-flex;
        padding-right: 4em;
        padding-bottom: 1em;
    }

    .bold {
        font-weight: 700;
    }

    span {
        font-size: 3.2em;
        font-weight: 700;
        z-index: 2;
        position: relative;
        right: 1.9em;
        bottom: 0.9em; 
    }
    #euro {
        font-size: 1.6em;
        font-weight: 700;
        z-index: 2;
        position: relative;
        right: 1.1em;
        bottom: 2.6em; 
    }

    .container-chiffre-2018 {
        flex-direction: column;
    }

    .hexagon {
        background-size: 100%;
        background-repeat: no-repeat;
        color: white;
        
        z-index : 1;
    }

    .titre-chiffre, .titre-chiffre-3 {
        font-size: 1.5em;
        font-weight: 900;
        padding-right: 2em;
    }

    .titre-chiffre-3 {
        position: relative;
        bottom: 2em;
    }
}

/* Style de la section contact */

#contact {
    margin: 3%;
    h3 {
        font-size: 1.5em;
        font-weight: 900;
    }
}

/* Media queries */

@media screen and (max-width: 1600px) {
    #chiffres-cles {
        height: 30em;
    }
    .transform {
        margin-left: 15%;
        margin-right: 15%; 
        h1 {
            font-size: 3.17em;
        }
        p {
            font-size: 2em;
        }
    }

    .chiffre-2018 {
        width: 80%;
        height: 20em;  
        padding-left: 5.5em;
          
        h1 {
            font-size: 1.9em;
        } 
        span {
            font-size: 3em;
            right: 1.8em;
            bottom: 0.9em; 
        }
        #euro {
            font-size: 1.6em;
            right: 1.1em;
            bottom: 2.6em; 
        }  
        .hexagon {
            img{
                height: 7em
            }
        }
    
        .titre-chiffre, .titre-chiffre-3 {
            font-size: 1.2em;
            padding-right: 2em;
        }    
    }
}

@media screen and (max-width: 1300px) {
    .title-text {
        font-size: 1.5em !important;
    }
    .btn {
        font-size: 0.8em;
    }

    #presentation {
        height: 50em;
    }
    #contact, #activites {
        h3 {
            font-size: 1.3em;
        }
        p{
            font-size: 1em;
        }
        #img-icon {
            height: 50px;
        }        span{
            font-size: 1em            
        }
    }
    #chiffres-cles {
        height: 25em;
    }
    .transform {
        margin-left: 15%;
        margin-right: 15%;     
        h1 {
            font-size: 2.2em;
        }    
        p {
            font-size: 1.87em;
        }
    }
    .chiffre-2018 {
        width: 70%;
        height: 14em;
        h1 {
            font-size: 1.6em;
        } 
        span {
            font-size: 2.2em;
            right: 1.79em;
            bottom: 0.9em; 
        }
        #euro {
            font-size: 1.2em;
            right: 1.1em;
            bottom: 2.6em; 
        }  
        .hexagon {
            img{
                height: 5em
            }
        }
    
        .titre-chiffre, .titre-chiffre-3 {
            font-size: 1.1em;
            padding-right: 2em;
        }    
    }
}

@media screen and (max-width: 900px) {
    .title-text {
        font-size: 1.3em !important;
    }
    .btn {
        font-size: 0.6em;
    }
    #presentation {
        height: 33em;
    }
    #contact,#activites {
        h3 {
            font-size: 1.1em;
        }
        p{
            font-size: 0.8em
        }
        #img-icon {
            height: 40px;
        }
        span{
            font-size: 0.8em            
        }
    }
    #chiffres-cles {
        height: 18em;
    }
    .transform {
        margin-top: 15%;
        margin-left: 15%;
        margin-right: 15%;    
        h1 {
            font-size: 1.6em;
        }    
        p {
            font-size: 1.18em;
        }
    }

    .chiffre-2018 {
        width: 65%;
        height: 10em;
        padding-left: 6em;
        
        h1 {
            font-size: 1em;
        } 
        span {
            font-size: 1.2em;
            right: 1.79em;
            bottom: 0.9em; 
        }
        #euro {
            font-size: 0.7em;
            right: 1.1em;
            bottom: 3em; 
        }  
        .hexagon {
            img{
                height: 3em
            }
        }
        p {
            font-size: 0.9em;
        }
    
        .titre-chiffre, .titre-chiffre-3 {
            font-size: 1.1em;
            padding-right: 2em;
        }    
    }
}
@media screen and (max-width: 660px) {
    .title-text {
        font-size: 1.1em !important;
    }
    #presentation {
        height: 25em;
    }
    .btn {
        font-size: 0.4em;
    }
    #contact,#activites {
        h3{
            font-size: 1em;
        }
        p{
            font-size: 0.6em
        }
        #img-icon {
            height: 30px;
        }
        span{
            font-size: 0.6em            
        }
    }
    #chiffres-cles {
        height: 14em;
    }
    .transform {

        margin-left: 15%;
        margin-right: 15%; 
        h1 {
            font-size: 1.2em;
        }
        p {
            font-size: 0.95em;
        }
    }

    .chiffre-2018 {
        width: 65%;
        height: 8em;
        h1 {
            font-size: 0.7em;
        } 
        span {
            font-size: 0.7em;
            right: 1.9em;
            bottom: 0.9em; 
        }
        #euro {
            font-size: 0.4em;
            right: 1em;
            bottom: 4.5em; 
        }  
        .hexagon {
            img{
                height: 1.8em
            }
        }
        p {
            font-size: 0.6em;
        }
    
        .titre-chiffre, .titre-chiffre-3 {
            font-size: 1.1em;
            padding-right: 2em;
        }    
    }
}

@media screen and (max-width: 480px){
    .title-text {
        font-size: 1em !important;
    }
    #presentation {
        height: 22em;
    }
    #contact,#activites {
        h3{
            font-size: 0.9em;
        }
    }
    p{
        font-size: 0.5em
    }
    #img-icon {
        height: 25px;
    }
    #chiffres-cles {
        height: 13em;
    }
    .transform {

        margin-left: 15%;
        margin-right: 15%; 
        h1 {
            font-size: 0.9em;
        }
        p {
            font-size: 0.65em;
        }
    }

    .chiffre-2018 {
        width: 65%;
        height: 6em;
        h1 {
            font-size: 0.3em;
        } 
        span {
            font-size: 0.3em;
            right: 2.2em;
            bottom: 1.5em; 
        }
        #euro {
            font-size: 0.02em;
            right: 0.5em;
            bottom: 4.8em; 
        }  
        .hexagon {
            img{
                height: 1.3em
            }
        }
        p {
            font-size: 0.4em;
        }
    
        .titre-chiffre, .titre-chiffre-3 {
            font-size: 1.1em;
            padding-right: 2em;
        }    
    }
}