@import "../../styles.scss";

#profile {
    margin-top: 80px;

    div {
        text-align: center;
    }
}

#container {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom : 10%;
}

h3 {
    text-align: center;
    padding-top: 5%;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
}

.btn {
    width: 20%;
    }

    button:hover {
        background-color: #0a7baf;
    }
    


