@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

$font-style: 'Montserrat', sans-serif;
$font-color: #454545;

/* Style partagé par toute l'application */
body {
  margin: 0;
  font-family: $font-style;
  color: $font-color;
}

.btn {
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 1px grey;
  width: 40%;
  padding: 0.3em 0 0.3em 0;
  color: white;
  font-weight: 600;
  font-size: 0.9em;
}

.red {
  background-color: #ed3d4a;
}

.yellow {
  background-color: #ffa100;
}

.blue {
  background-color: #004464;
}


